.container_Theme {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container_Theme button {
  position: relative;
  z-index: 10;
  width: 70px;
  height: 30px;
  margin-left: 5px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}
