@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Comme', sans-serif;
  overflow: hidden;
}

html[data-theme='dark'] {
  --back_color: #2a2626;
}

html[data-theme='light'] {
  --back_color: #ede7e7;
  --color: black
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--back_color);
  color: var(--color);
  height: 100vh;
}